Flask
Flask-Opentracing==0.2.0 # Flask-Opentracing doesn't support opentracing >=2 yet
requests
pylint
gunicorn
pymongo
Flask-PyMongo
prometheus-client
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-jaeger
opentelemetry-instrumentation
opentelemetry-distro
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-requests
prometheus-flask-exporter